<div class="dashboard">

  <div class="hero-card">

    <h1>Skills Dashboard</h1>

    <p>
      Track, analyze and manage your technical skills.
    </p>

  </div>

  <div class="total-card">

    <span class="label">
      Total Skills
    </span>

    <span class="value">
      {{ statistics?.totalSkills ?? 0 }}
    </span>

  </div>

  <div class="top-fields-card">

    <h2>Top Skill Fields</h2>

    @for(field of topFields; track field.field; let i = $index) {

      <div class="field-row">

        <div class="field-name">

          @if(i === 0){
            🥇
          }

          @if(i === 1){
            🥈
          }

          @if(i === 2){
            🥉
          }

          {{ field.field }}

        </div>

        <div class="field-count">
          {{ field.count }}
        </div>

      </div>

    }

  </div>

  <button
    class="skills-button"
    (click)="goToSkillsList()">

    View All Skills

  </button>

</div>
