.table-3 {
  width: 100%;
  border-collapse: collapse;
}

.table-3 :is(td, th) {
  border-bottom: 1px solid #2d2d2d;
}

.table-3 td {
  padding: 16px;
  white-space: nowrap;
}

.table-3 th {
  padding: 20px 16px;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
}

.table-3 tr td:last-of-type {
  text-align: right;
}

/* column sizing */
.table-3 th:first-of-type { width: 20px; }

.table-3 th:nth-child(2) {
  width: 133px;
  min-width: 133px;
  max-width: 133px;
}

.table-3 th:nth-child(3) {
  width: 180px;
  min-width: 180px;
  max-width: 180px;
}

/* padding adjustments */
.table-3 :is(td, th):first-child { padding-right: 2px; }

.table-3 :is(td, th):last-child { padding-right: 12px; }

/* footer */
.table-3-footer {
  display: flex;
  align-items: center;
}

.table-3-footer p {
  margin: 0;
  font-size: 14px;
  color: #8a8a8a;
}

.table-3-footer p em {
  color: #fff;
  font-style: normal;
}

/* pagination */
.table-3-pagination {
  display: flex;
  padding: 16px;
}

.table-3-pagination > button {
  height: 40px;
  width: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  font: 14px inherit;
  color: #fff;

  border: 1px solid #2d2d2d;
  border-right: 0;
  background: transparent;

  transition: .3s;
}

.table-3-pagination > button:first-child {
  border-radius: 6px 0 0 6px;
}

.table-3-pagination > button:last-child {
  border-radius: 0 6px 6px 0;
  border-right: 1px solid #2d2d2d;
}

.table-3-pagination > button:hover {
  background: rgb(255 255 255 / 1%);
}

.table-3-pagination > button.active {
  background: #2d2d2d;
}
