.slice {
  --c1: white;
  --c2: var(--c2, #00a1b7); // fallback if not provided

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 0.9em 1em;

  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;

  text-decoration: none;
  background-color: transparent;
  cursor: pointer;

  border-radius: 12px;
  border: 2px solid var(--c2);

  overflow: hidden;
  position: relative;
  transition: 300ms cubic-bezier(0.83, 0, 0.17, 1);
}

.slice > .text {
  color: var(--c2);
  position: relative;
  z-index: 1;
  transition: 400ms ease;
}

.slice::after {
  content: "";
  position: absolute;
  inset: 50%;
  translate: -50% -50%;
  rotate: 25deg;

  width: 0;
  height: 300%;

  background-color: var(--c2);
  transition: 600ms cubic-bezier(0.83, 0, 0.17, 1);
}

.slice:hover::after {
  width: 130%;
}

.slice:hover > .text {
  color: var(--c1);
}

.slice:active {
  transform: scale(0.97);
}
