/* From Uiverse.io by nikk7007 */
.slice {
  --c1: white;
  --c2: #00a1b7;
  --size-letter: 32px;
  padding: 0.5em 1em;
  font-size: var(--size-letter);

  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  border-color: #00a1b7;
  overflow: hidden;
  position: relative;
  transition: 300ms cubic-bezier(0.83, 0, 0.17, 1);

  & > .text {
    font-weight: 700;
    color: var(--c2);
    position: relative;
    z-index: 1;
    transition: color 700ms cubic-bezier(0.83, 0, 0.17, 1);
  }
}

.slice::after {
  content: "";

  width: 0;
  height: calc(300% + 1em);

  position: absolute;
  translate: -50% -50%;
  inset: 50%;
  rotate: 30deg;

  background-color: var(--c2);
  transition: 1000ms cubic-bezier(0.83, 0, 0.17, 1);
}

.slice:hover {
  & > .text {
    color: var(--c1);
  }
  &::after {
    width: calc(120% + 1em);
  }
}

.slice:active {
  scale: 0.98;
  filter: brightness(0.9);
}

button{
  width: 100%;
}
