.slice {
  --c1: #fff;
  --c2: var(--c2, #00a1b7);

  display: inline-flex;
  place-content: center;
  place-items: center;

  width: 100%;
  padding: .9em 1em;

  font: 600 18px/1 inherit;
  letter-spacing: .5px;

  text-decoration: none;
  background: transparent;
  cursor: pointer;

  border: 2px solid var(--c2);
  border-radius: 12px;

  position: relative;
  overflow: hidden;

  transition: 300ms cubic-bezier(.83,0,.17,1);
}

.slice > .text {
  color: var(--c2);
  position: relative;
  z-index: 1;
  transition: 400ms ease;
}

.slice::after {
  content: "";
  position: absolute;
  inset: 50%;
  translate: -50% -50%;
  rotate: 25deg;

  width: 0;
  height: 300%;

  background: var(--c2);
  transition: 600ms cubic-bezier(.83,0,.17,1);
}

.slice:hover::after { width: 130%; }

.slice:hover > .text { color: var(--c1); }

.slice:active { transform: scale(.97); }
