<div class="login-page">
<form class="my-form" aria-labelledby="login-title" [formGroup]="loginForm"> <div class="login-welcome-row">
  <h1 id="login-title">Welcome back &#x1F44F;</h1> <p>Please enter your details!</p>
</div>
  <div class="input_wrapper">
    <input
      type="email" id="email" name="email" class="input_field form-control" formControlName="email" placeholder="Email" required>

  </div>
  <div class="input_wrapper">
    <input id="password" type="password" class="input_field form-control" formControlName="password" placeholder="Password" required>

  </div>
  <button type="submit" class="my-form__button" (click)="signIn()">
    Login
  </button>
  <div class="my-form_actions">
    <div class="my-form_row">
      <span>Don't have an account?</span> <a href="/register" title="Create Account"> Sign Up</a>
    </div>
  </div>
</form>
</div>
