.container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 24px;
  left: 24px;
  bottom: 24px;
  /* width assumed: 250px */
}

/* Main content */
.content {
  margin-top: 50px;
  margin-left: 220px;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
