
html, body {
  height: 100%;
  margin: 0;
}

.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.background svg {
  width: 110%;
  height: 100%;
}

.app {
  position: relative;
  z-index: 1;
}

* {
  font-family: "Inter", sans-serif;
}
