<div class="card">
  <header>
    <h2>{{ title }}</h2>

    <button type="button">
      <span class="material-symbols-outlined">download</span>
      Download
    </button>
  </header>

  <div class="wrapper">
    <table>
      <thead>
      <tr>
        @for (col of columns; track $index) {
          <th draggable="true">{{ col }}</th>
        }
      </tr>
      </thead>

      <tbody>
        @for (row of pagedData; track $index) {
          <tr>
            @for (cell of row; track $index) {
              <td>{{ cell }}</td>
            }
          </tr>
        }
      </tbody>
    </table>

    <ng-template #empty>
      <div class="empty">No data available</div>
    </ng-template>
  </div>

  <footer class="pagination">
    <select [(ngModel)]="pageSize" (change)="page = 1">
      <option [value]="5">5</option>
      <option [value]="10">10</option>
      <option [value]="20">20</option>
    </select>

    <button (click)="prev()" [disabled]="page === 1">Prev</button>
    <span>{{ page }} / {{ totalPages }}</span>
    <button (click)="next()" [disabled]="page === totalPages">Next</button>
  </footer>
</div>
