<div class="card">
  <header>
    <h2>{{ title }}</h2>

    <button type="button">
      <span class="material-symbols-outlined" (click)="downloadCSV()">download</span>
    </button>
  </header>

  <div class="wrapper">
    <table>
      <thead>
      <tr>
        @for (col of columns; track $index) {
          <th draggable="true">{{ col }}</th>
        }
      </tr>
      </thead>

      <tbody>
        @for (row of pagedData; track $index) {
          <tr (click)="onRowClick(row)">
            @for (cell of row; track $index) {
              <td>{{ cell }}</td>
            }
          </tr>
        }
      </tbody>

    </table>

    <ng-template #empty>
      <div class="empty">No data available</div>
    </ng-template>
  </div>

  <footer class="pagination">
    <select [(ngModel)]="pageSize" (change)="page = 1">
      <option [value]="5">5</option>
      <option [value]="10">10</option>
      <option [value]="20">20</option>
    </select>

    <button (click)="prev()" [disabled]="page === 1">Prev</button>
    <span>{{ page }} / {{ totalPages }}</span>
    <button (click)="next()" [disabled]="page === totalPages">Next</button>
  </footer>
</div>



<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
