<div class="music-dashboard">


  <div class="dashboard-container">


    <!-- HEADER -->

    <h2 class="title">

      <i class="bi bi-music-note-list title-icon"></i>

      Music Dashboard

    </h2>


    <!-- PLATFORM ROW CARDS -->

    <div class="platform-grid">


      <!-- SPOTIFY -->

      <div
        class="platform-card spotify"
        data-bs-toggle="modal"
        data-bs-target="#songsModal"
        (click)="openSongs('SPOTIFY')"
      >

        <div class="card-left">

          <i class="bi bi-spotify platform-icon"></i>

          <h4>Spotify</h4>

        </div>


        <div class="count">

          {{ spotifyCount() }}

          songs

        </div>

      </div>



      <!-- YOUTUBE -->

      <div
        class="platform-card youtube"
        data-bs-toggle="modal"
        data-bs-target="#songsModal"
        (click)="openSongs('YOUTUBE')"
      >

        <div class="card-left">

          <i class="bi bi-youtube platform-icon"></i>

          <h4>YouTube</h4>

        </div>


        <div class="count">

          {{ youtubeCount() }}

          songs

        </div>

      </div>


    </div>


  </div>



  <!-- SONGS MODAL -->

  <div class="modal fade" id="songsModal" tabindex="-1">

    <div class="modal-dialog modal-xl modal-dialog-centered">

      <div class="modal-content">


        <div class="modal-header">

          <h5 class="modal-title">

            {{ activePlatform() }} songs

          </h5>

          <button class="btn-close" data-bs-dismiss="modal"></button>

        </div>



        <div class="modal-body">


          <input
            class="form-control search-box"
            placeholder="Search song..."
            (input)="search.set($any($event.target).value)"
          >


          <div class="table-wrapper">


            <table class="modern-table">


              <thead>

              <tr>

                <th>Title</th>

                <th>Author</th>

                <th>Actions</th>

              </tr>

              </thead>


              <tbody>


                @for(song of paginatedSongs(); track song.id) {

                  <tr
                    (click)="selectSong(song)"
                    data-bs-toggle="modal"
                    data-bs-target="#actionsModal"
                  >

                    <td>{{ song.title }}</td>

                    <td>{{ song.author }}</td>

                    <td>

                      <button
                        class="mini-btn listen"
                        (click)="$event.stopPropagation(); listenSong()"
                      >
                        ▶
                      </button>

                    </td>

                  </tr>

                }


              </tbody>


            </table>


          </div>


        </div>


      </div>

    </div>

  </div>



  <!-- ACTION MODAL -->

  <div class="modal fade" id="actionsModal" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">

      <div class="modal-content">


        <div class="modal-header">

          <h5>

            Manage Song

          </h5>

          <button
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>

        </div>



        <div class="modal-body action-buttons">


          <button
            class="action-btn listen"
            (click)="listenSong()"
          >

            Listen

          </button>


          <button
            class="action-btn update"
            (click)="updateSong()"
          >

            Update

          </button>


          <button
            class="action-btn delete"
            (click)="deleteSong()"
          >

            Delete

          </button>


        </div>


      </div>

    </div>

  </div>


</div>
