.container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar already has width: 250px */
.sidebar {
  position: fixed;
  left: 24px;
  top: 24px;
  bottom: 24px;
}

.content {
  margin-top: 50px;
  margin-left: 150px;
  padding: 32px;
  width: calc(100% - 300px);
  position: relative;
}

.content {
  overflow-x: hidden;
}

