<div class="login-page">
  <form class="my-form" [formGroup]="form" (ngSubmit)="verifyCode()">
    <div class="login-welcome-row">
      <h1>Reset Password</h1>
      <p>Enter your email and verification code</p>
    </div>
    <div class="input_wrapper">
      <input
        type="email"
        class="input_field"
        placeholder="Email"
        formControlName="email"
      />
      @if (form.get('email')?.errors?.['required']) {
        <div class="alert"> Email is required</div>
      }
      @if (form.get('email')?.errors?.['email']) {
        <div class="alert"> Invalid email format</div>
      }
    </div>
    <button class="my-form__button" [disabled]="form.value.email == '' || form.value.email == null" (click)="sendCode()">
      Send code
    </button>
    @if (codeSent) {
      <div class="input_wrapper">
        <input
          type="text"
          class="input_field"
          placeholder="Verification Code"
          formControlName="code"
        />
        @if (form.get('code')?.errors?.['required']) {
          <div class="alert"> Code is required</div>
        }
      </div>
      <button class="my-form__button" type="submit" [disabled]="!submitted">
        Verify Code
      </button>
    }

    <button class="my-form__previous" routerLink="{{link}}">
      Go back
    </button>
  </form>
</div>
