<aside class="sidebar">
  <header>
  </header>

  <ul>
    <li>
      <input type="radio" id="dashboard" name="sidebar" />
      <label for="dashboard">
        <i class="bi bi-speedometer2"></i>
        <p>Dashboard</p>
      </label>
    </li>

    <li>
      <input type="radio" id="settings" name="sidebar" />
      <label for="settings">
        <i class="bi-gear"></i>
        <p>Skills</p>
        <i class="bi-chevron-down"></i>
      </label>
      <div class="sub-menu">
        <ul>
          @for (s of skill; track s.id) {
            <div>
              <li><button type="button" routerLink="{{s.link}}">{{ s.title }}</button></li>
            </div>
          }
        </ul>
      </div>
    </li>

    <li>
      <input type="radio" id="create" name="sidebar" />
      <label for="create">
        <i class="bi-folder-plus"></i>
        <p>Articles</p>
        <i class="bi-chevron-down"></i>
      </label>
      <div class="sub-menu">
        <ul>

          @for (a of articles; track a.id) {
            <div>
              <li><button type="button" routerLink="{{a.link}}">{{ a.title }}</button></li>
            </div>
          }
        </ul>
      </div>
    </li>

    <li>
      <input type="radio" id="lessons" name="sidebar" />
      <label for="lessons">
        <i class="bi-journal-text"></i>
        <p>Lessons</p>
        <i class="bi-chevron-down"></i>
      </label>
      <div class="sub-menu">
        <ul>

          @for (l of lesson; track l.id) {
            <div>
              <li><button type="button" routerLink="{{l.link}}">{{ l.title }}</button></li>
            </div>
          }
        </ul>
      </div>
    </li>

    <li>
      <input type="radio" id="profile" name="sidebar" />
      <label for="profile">
        <i class="bi-person"></i>
        <p>Profile</p>
      </label>
    </li>


    <li>
      <input type="radio" id="account" name="sidebar" />
      <label for="account">
        <i class="bi-lock"></i>
        <p>Account</p>
      </label>
    </li>

    <li>
      <input type="radio" id="login" name="sidebar" />
      <label for="login">
        <i class="bi-alarm"></i>
        <p>Login history</p>
      </label>
    </li>

    <li class="signout" (click)="logout()">
      <input type="radio" id="out" name="sidebar" />
      <label for="out">
        <i class="bi-airplane"></i>
        <p>Sign out</p>
      </label>
    </li>
  </ul>
</aside>


