<aside class="sidebar">
  <header>

  </header>

  <ul>
    <li>
      <input type="radio" id="dashboard" name="sidebar" />
      <label for="dashboard">
        <i class="ai-dashboard"></i>
        <p>Dashboard</p>
      </label>
    </li>

    <li>
      <input type="radio" id="settings" name="sidebar" />
      <label for="settings">
        <i class="ai-gear"></i>
        <p>Skills</p>
        <i class="ai-chevron-down-small"></i>
      </label>
      <div class="sub-menu">
        <ul>
          <li><button type="button">Check</button></li>
          @for (s of skill; track s.id) {
            <div>
              <li><button type="button" routerLink="{{s.link}}">{{ s.title }}</button></li>
            </div>
          }
        </ul>
      </div>
    </li>

    <li>
      <input type="radio" id="create" name="sidebar" />
      <label for="create">
        <i class="ai-folder-add"></i>
        <p>Articles</p>
        <i class="ai-chevron-down-small"></i>
      </label>
      <div class="sub-menu">
        <ul>
          <li><button type="button">Check</button></li>
          @for (a of articles; track a.id) {
            <div>
              <li><button type="button" routerLink="{{a.link}}">{{ a.title }}</button></li>
            </div>
          }
        </ul>
      </div>
    </li>

    <li>
      <input type="radio" id="create" name="sidebar" />
      <label for="create">
        <i class="ai-folder-add"></i>
        <p>Lessons</p>
        <i class="ai-chevron-down-small"></i>
      </label>
      <div class="sub-menu">
        <ul>
          <li><button type="button">Check</button></li>
          @for (l of lesson; track l.id) {
            <div>
              <li><button type="button" routerLink="{{l.link}}">{{ l.title }}</button></li>
            </div>
          }
        </ul>
      </div>
    </li>

    <li>
      <input type="radio" id="profile" name="sidebar" />
      <label for="profile">
        <i class="ai-person"></i>
        <p>Profile</p>
        <i class="ai-chevron-down-small"></i>
      </label>
    </li>


    <li>
      <input type="radio" id="account" name="sidebar" />
      <label for="account">
        <i class="ai-lock-on"></i>
        <p>Account</p>
      </label>
    </li>
  </ul>
</aside>
