/* Component root */
:host {
  display: block;
  height: 70vh;
  font-family: "Euclid Circular A", system-ui, sans-serif;
}

/* Reset */
* {
  box-sizing: border-box;
}

button,
label {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  text-align: left;
  color: inherit;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 24px;
  left: 24px;
  bottom: 44px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 260px;
  border-radius: 16px;
  padding: 0 16px;
  background: rgb(0 0 0 / 32%);
  backdrop-filter: blur(30px);
  transition: all 0.4s ease;
}

:host {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 260px;
}


/* Header */
.sidebar header {
  display: flex;
  align-items: center;
  height: 72px;
  padding-top: 10px;
  border-bottom: 1px solid rgb(255 255 255 / 8%);
}

.sidebar header img {
  height: 44px;
}

/* Hide radios */
.sidebar input {
  position: absolute;
  scale: 0;
}

/* Expand sub-menus */
.sidebar input#settings:checked ~ .sub-menu {
  height: 150px;
}

.sidebar input#create:checked ~ .sub-menu {
  height: 150px;
}

.sidebar input#profile:checked ~ .sub-menu {
  height: 150px;
}

.sidebar input#lessons:checked ~ .sub-menu {
  height: 150px;
}

/* Buttons / labels */
.sidebar :is(button, label) {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  height: 50px;
  width: 100%;
  border-radius: 6px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  padding: 0 16px;
  color: rgb(255 255 255 / 95%);
}

.sidebar label p:nth-child(2) {
  flex: 1 1 auto;
}

/* Active item */
.sidebar input:checked ~ label {
  background: #1960f3;
}

/* Chevron animation */
.sidebar label i {
  transition: transform 0.3s ease;
}

.sidebar input:checked ~ label > i:nth-child(3) {
  transform: rotate(-180deg);
}

.sidebar input:not(:checked) ~ label,
.sidebar button{
  transition: all 0.5s ease;
}


.sidebar input:not(:checked) ~ label:hover,
.sidebar button:hover {
  background: rgb(0 0 0 / 15%);
}

/* Lists */
.sidebar ul {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Sub menu */
.sub-menu {
  position: relative;
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease;
}

.sub-menu ul {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  width: 100%;
}

.sub-menu button {
  padding-left: 52px;
}

/* Sub-menu bullet */
.sub-menu button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(255 255 255 / 35%);
}

/* Icons */
.sidebar .material-symbols-outlined {
  font-size: 20px;
}

.sidebar i {
  font-size: 24px;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
}


.signout{
  margin-top: 300px;
}

li{
  animation: fade-left 1.2s ease forwards;
}


@keyframes fade-left {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


